body{
    background-color: rgb(252, 137, 175);
    font-family: serif;
}
.container{
        max-width: 800px;
        margin: 20px auto;
        padding: 20px;
        background-color: #ffffff;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        height: 650px;
}
h1{
    position:initial;
    text-align: center;
    color: palevioletred;
}
h2{
    color: palevioletred;
}
hr{
    color: rgb(255, 90, 139);
    border-color: rgb(255, 90, 139);
    background-color: rgb(255, 90, 139);
}
button{
    background-color: #ffd1e3;
    border-radius: 8%;
    border: #ffd1e3;
}
button:hover {
    transition: 0.5s;
    background-color: #ff9bc1;
}
textarea{
    resize: none;
    outline-color: #ff9bc1;
    border-color: #ff9bc1;
}
.data{
    color: rgb(48, 48, 48);
}
.registro{
    color: rgb(48, 48, 48);
}
input{
    font-family: serif;
    outline-color: #ff9bc1;
    color: rgb(48, 48, 48);
    border-color: #ff9bc1;
}
img{
    height: 50px;
    border: 0cap;
    width: 150px;
}
#direita{
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
.hr1{
    color: rgb(212, 212, 212);
    border-color: rgb(212, 212, 212);
    background-color: rgb(212, 212, 212);
}

